<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9kH1Zs0Rh-w1Wa2iOGec9JdQGdhmq5MA&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
<%= javascript_pack_tag 'google_maps_polyline' %>

<%= render 'shared/header' %>

<div id="map"></div>

<% if !current_user.nil? %>
    <p>
        <%= link_to 'My entries', entries_by_user_path(current_user.id) %>
    </p>
<% end %>
<h1>
    Public feed
</h1>

<%= render 'entries/entryables_table' %>
