<%= render 'shared/header' %>

<% if !current_user.nil? %>
    <p>
        <%= link_to 'My entries', entries_by_user_path(current_user.id) %>
    </p>
<% end %>
<h1>
    Public feed
</h1>

<%= render 'entries/entryables_table' %>
